@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("font/font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

.wrap {
  font-family: "binggraeregular";
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
}
.header .header-inner {
  position: absolute;
}
<<<<<<< HEAD
.header .header-inner .header-top {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
}
.header .header-inner .header-top .buy {
  cursor: pointer;
  margin-right: 20px;
}
.header .header-inner .header-top .job {
  cursor: pointer;
}

.header-bottom .header-bottom-inner {
  display: flex;
  gap: 0 30rem;
  justify-content: space-between;
  margin-top: 20px;
}
.header-bottom .header-bottom-inner .nav .gnb {
  display: flex;
  justify-content: center;
  gap: 0 40px;
}
.header-bottom .header-bottom-inner .nav .gnb li {
  white-space: nowrap;
}
.header-bottom .header-bottom-inner .nav .gnb li a:hover {
  display: block;
  cursor: pointer;
  color: red;
  text-decoration: underline;
  background: url("");
}
.header-bottom .header-bottom-inner .nav .gnb li .depth2 {
  display: none;
}

.lang {
  white-space: nowrap;
  font-weight: 800;
}

/* 비주얼 */
.visual .visual-inner {
  position: relative;
  position: relative;
  z-index: -5;
}
.visual .visual-inner .front {
  position: absolute;
}
.visual .visual-inner .back {
  position: absolute;
}
.visual .visual-inner .back .search {
  position: relative;
  display: block;
  top: 600px;
  left: 40%;
}
.visual .visual-inner .back .search .search-form {
  position: relative;
}
.visual .visual-inner .back .search .search-txt {
  position: absolute;
  border-radius: 30px;
  background: white;
  padding-right: 500px;
  line-height: 60px;
  border: 1px solid #fff;
  box-shadow: 5px 5px 5px 5px rgba(163, 124, 124, 0.5);
}
.visual .visual-inner .back .search .search-bt {
  border: 0px;
  border-radius: 20px;
  background: rgb(231, 79, 79);
  width: 100px;
  height: 30px;
=======
.cs .cs-wrap {
  position: relative;
  display: block;
  width: 1310px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  padding: 60px 45px;
}
.cs .cs-top {
  display: flex;
}
.cs .cs-top .top-email {
  width: 50%;
  height: 325px;
  background: url("../../images/layout/sec04_backimg01.png") no-repeat center;
  background-size: contain;
  padding: 55px 45px;
}
.cs .cs-top .top-email h4 {
  font-size: 32px;
}
.cs .cs-top .top-call {
  width: 50%;
  height: 325px;
  background: url("../../images/layout/sec04_backimg02.png") no-repeat center;
  background-size: contain;
  padding: 55px 45px;
}
.cs .cs-top .top-call h4 {
  font-size: 32px;
}
.cs .cs-top .top-call p {
  font-size: 46.5px;
}
.cs .cs-top .top-call span {
  font-size: 16px;
}

.cs-bottom {
  display: block;
}
.cs-bottom .faq h4 {
  display: flex;
  justify-content: space-between;
}
.cs-bottom .faq h4 span {
  color: #1f1f1f;
  font-size: 23px;
}
.cs-bottom .faq .faq-wrap {
  display: flex;
}
.cs-bottom .faq .faq-wrap .faq-left {
  width: 50%;
}
.cs-bottom .faq .faq-wrap .faq-left ul li {
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
}
.cs-bottom .faq .faq-wrap .faq-right {
  width: 50%;
}
.cs-bottom .faq .faq-wrap .faq-right ul li {
  box-shadow: inset 0px 5px 10px 0 rgba(121, 121, 121, 0.08);
>>>>>>> 8f75c7bd64d0175837c925bfb2b9a1c3160a4d98
}