@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("font/font.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 16px;
}

.wrap {
    font-family: "binggraeregular";
}

.clearfix::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.slide-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.slide-inner-top {
    margin: 0 auto;
}
.slide-inner-top > h3 {
    font-size: 38px;
}
.slide-inner-top .slide-inner-prevbtn {
    position: absolute;
    top: 170px;
    left: 100px;
}
.slide-inner-top .slide-inner-nextbtn {
    position: absolute;
    top: 170px;
    right: 100px;
}
.slide-inner-top .slide-list {
    display: flex;
}
.slide-inner-top .slide-list > li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 20px;
    margin: 12px 12px;
    transition: all 300ms;
}
.slide-inner-top .slide-list > li:hover {
    transform: translateY(-30px);
}
.slide-inner-top .slide-list > li:hover > a {
    background: #e5372b;
    color: white;
}
.slide-inner-top .slide-list > li > img {
    margin-bottom: 12px;
}
.slide-inner-top .slide-list > li > a {
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 250px;
    padding: 12px 0;
}
/* qkxja */
.slide-inner-bottom {
    margin: 0 auto;
}
.slide-inner-bottom .slide-inner-prevbtn {
    color: red;
    position: absolute;
    top: 520px;
    left: 100px;
}
.slide-inner-bottom .slide-inner-nextbtn {
    position: absolute;
    top: 520px;
    right: 100px;
}
.slide-inner-bottom .slide-list {
    display: flex;
}
.slide-inner-bottom .slide-list > li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 20px;
    margin: 12px 12px;
    width: 250px;
    background-color: #f9f9f9;
    border-radius: 8px;
    height: 250px;
}
.slide-inner-bottom .slide-list > li > img {
    margin-bottom: 12px;

    padding: 12px 0;
}
