// 컬러

$gray-color: #f9f9f9;
$red-color: #e82c28;
$white-color: #fff;

//폰트크기
$head-nomal: 38px;

// 마진,패딩
$small-ma: 8px;
$noaml-ma: 12px;

$small-pd: 8px;
$noaml-pd: 12px;

// 보더레디우스

$border-nomal: 8px;
